.footer {
	padding: 19px 16px 16px;
	background-color: #fff;

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;

		& > div {
			margin-bottom: 17px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__col-left {
		flex: 0 0 35.27%;
		padding: 0 10px;
	}

	&__col-central {
		flex: 0 0 64.73%;
		padding-left: 20px;
		padding-right: 10px;
	}

	&__col-right {
		flex: 0 0 100%;
		padding: 0 10px;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 19px;
		color: #3E3E3E;
	}

	&__link {
		display: inline-block;
		margin-bottom: 14px;
		color: #AEAEAE;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: .25px;
	}

	&__contacts {
		text-align: center;
	}

	&__contacts-wrap {
		max-width: 200px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 19px;
	}

	&__contacts-address {
		margin-bottom: 19px;
		font-size: 16px;
		line-height: 19px;
		font-style: normal;
	}

	&__contacts-work-time {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		text-transform: uppercase;

		p {
			margin-bottom: 21px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		span {
			font-weight: 400;
			margin-right: 5px;
		}

		a {
			color: inherit;
		}
	}
}

.social-networks {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;

	&__item {
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.developed-by {
	font-family: 'HelveticaNeueCyr', sans-serif;
	font-size: 14px;
	line-height: 14px;
}