.nav {
	position: absolute;
	height: 580px;
	overflow: auto;
	top: -580px;
	left: 0;
	right: 0;
	padding: 0 16px;
	background-image: linear-gradient(180deg, #49494A 17.19%, #383836 100%);
	transition: bottom .4s ease, top .4s ease;
	z-index: 1;

	&.active {
		top: 100%;
		//bottom: -580px;
	}

	&__menu {
		margin: 0;
	}

	&__menu-item {
		border-bottom: 1px solid rgba(228, 181, 107, 0.5);

		&:first-child {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.nav__menu-link {
				padding: 15px 0;
			}
		}

		&--has-children {
			.nav__menu-link {
				&::after {
					content: '';
					position: absolute;
					width: 11px;
					height: 21px;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					background-image: url("../../../assets/img/icons/arrow-bottom.svg");
				}
			}
		}
	}

	&__menu-link {
		position: relative;
		display: block;
		padding: 20px 0;
		font-size: 18px;
		line-height: 21px;
		color: #fff;
		letter-spacing: 0.2px;

		&.active {
			color: #AEAEAE;
		}
	}
}